// variables

$color1: #9356DC;
$color2: #FF79DA;
$color3: #99E2D0 ;

@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}



$font1: roboto, sans-serif;
$font2: roboto-bold, sans-serif;
$font3: shrikhand, sans-serif;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1;
    // background: red;
    min-height: 100vh;
    &:hover {
        // background: blue;
    }
}

header {
  text-align: center;
  padding: 12px;

    img{
        width: 150px;
    }
}

#mail_link{
    color: white;
}